@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrJJLedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rokkitt/v36/qFdb35qfgYFjGy5hukqqhw5XeRgdi1rAd5DL.ttf) format('truetype');
}
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rokkitt/v36/qFdb35qfgYFjGy5hukqqhw5XeRgdi1oVcJDL.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins, sans-serif;
  background-color: #ffffff;
}
.flex-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img {
  width: 100%;
  height: auto;
}
.main-container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}
.main-container .header .header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .header .header-container .header-content {
  width: 100%;
  padding: 17px 27px 10px;
}
@media screen and (max-width: 1279px) {
  .main-container .header .header-container .header-content {
    padding: 17px 20px 10px;
  }
}
@media screen and (max-width: 768px) {
  .main-container .header .header-container .header-content {
    padding: 17px 17px 10px;
  }
}
@media screen and (max-width: 630px) {
  .main-container .header .header-container .header-content {
    padding: 17px 15px 10px;
  }
}
.main-container .header .header-container .header-content span {
  margin-right: 5px;
  color: #4C4C4C;
}
@media screen and (max-width: 375px) {
  .main-container .header .header-container .header-content span {
    margin-right: 0;
  }
}
.main-container .header .header-container .header-content .secure-shop .txt-content {
  color: #000000;
}
@media screen and (max-width: 630px) {
  .main-container .header .header-container .header-content .secure-shop .txt-content {
    display: none;
  }
}
.main-container .header .header-container .header-content .secure-shop .txt-content .bold-txt {
  font: bold 14px/17px Rokkitt, serif;
}
.main-container .header .header-container .header-content .secure-shop .txt-content .light-txt {
  font: normal 10px/15px Poppins, sans-serif;
  letter-spacing: 1px;
}
.main-container .header .header-container .header-content .logo-sec {
  max-width: 100%;
}
@media screen and (max-width: 375px) {
  .main-container .header .header-container .header-content .logo-sec {
    width: 110px;
  }
}
.main-container .header .header-container .header-content .contact-sec {
  align-items: baseline;
}
.main-container .header .header-container .header-content .contact-sec .contact-details {
  margin-right: 45px;
}
@media screen and (max-width: 768px) {
  .main-container .header .header-container .header-content .contact-sec .contact-details {
    margin-right: 42px;
  }
}
@media screen and (max-width: 655px) {
  .main-container .header .header-container .header-content .contact-sec .contact-details {
    margin-right: 15px;
  }
}
@media screen and (max-width: 630px) {
  .main-container .header .header-container .header-content .contact-sec .contact-details {
    margin-right: 35px;
  }
}
@media screen and (max-width: 375px) {
  .main-container .header .header-container .header-content .contact-sec .contact-details {
    margin-right: 20px;
  }
}
.main-container .header .header-container .header-content .contact-sec .contact-details a {
  text-decoration: none;
  color: #000000;
}
.main-container .header .header-container .header-content .contact-sec .contact-details a .ph-no {
  font: normal 15px/23px Poppins, sans-serif;
  letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
  .main-container .header .header-container .header-content .contact-sec .contact-details a .ph-no {
    letter-spacing: 0px;
  }
}
@media screen and (max-width: 630px) {
  .main-container .header .header-container .header-content .contact-sec .contact-details a .ph-no {
    display: none;
  }
}
.main-container .header .header-container .header-content .contact-sec .contact-details .availabilty {
  font: normal 10px/16px Poppins, sans-serif;
  text-align: center;
}
@media screen and (max-width: 630px) {
  .main-container .header .header-container .header-content .contact-sec .contact-details .availabilty {
    display: none;
  }
}
.main-container .header .header-container .header-content .contact-sec .sign-in-option a {
  text-decoration: none;
  color: #000000;
}
.main-container .header .header-container .header-content .contact-sec .sign-in-option a .sign-in-txt {
  font: normal 15px/23px Poppins, sans-serif;
  letter-spacing: 1px;
}
@media screen and (min-width: 768px) {
  .main-container .header .header-container .header-content .contact-sec .sign-in-option a .sign-in-txt {
    letter-spacing: 0px;
  }
}
@media screen and (max-width: 630px) {
  .main-container .header .header-container .header-content .contact-sec .sign-in-option a .sign-in-txt {
    display: none;
  }
}
.main-container .header .header-container .header-bottom-banner {
  width: 100%;
  z-index: 1;
  height: 10px;
}
.main-container .header .header-container .header-bottom-banner img {
  height: 10px;
}
.main-container .body-container {
  align-items: flex-start;
}
@media screen and (max-width: 1023px) {
  .main-container .body-container {
    flex-wrap: wrap;
  }
}
.main-container .body-container .left-side {
  flex-basis: 69%;
}
@media screen and (max-width: 1023px) {
  .main-container .body-container .left-side {
    flex-basis: 100%;
  }
}
.main-container .body-container .left-side .cart-sec .cart-container {
  padding: 0px 28px 0px 44px;
}
.main-container .body-container .left-side .cart-sec .cart-container .product-count h2 {
  font: normal 28px/50px Rokkitt, serif;
  color: #4C4C4C;
}
.main-container .body-container .left-side .cart-sec .cart-container .product-count .free-ship-alert {
  background-color: #E5F4F4;
  justify-content: center;
  font: bold 12px/18px Poppins, sans-serif;
  color: #009191;
  padding: 7px 0px;
}
.main-container .body-container .left-side .cart-sec .cart-container .product-count .free-ship-alert .need-amt {
  color: #000000;
  margin: 0px 2px;
}
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart .table-head {
  border-bottom: 1px solid #000000;
}
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart .table-head .thead-row {
  margin-bottom: 10px;
}
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart .table-head .thead-row .cart-header {
  font: bold 12px/50px Poppins, sans-serif;
  color: #000000;
}
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart .table-body .tbody-row {
  border-bottom: 1px solid #C7C7C7;
}
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart .table-body .tbody-row td {
  padding: 10px 0px;
}
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart .table-body .tbody-row .cart-item-image {
  max-width: 100%;
  display: flex;
}
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart .table-body .tbody-row .cart-item-image img {
  width: auto;
}
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart .table-body .tbody-row .cart-item-desc h3 {
  font: bold 18px/20px Rokkitt, serif;
  color: #E04726;
}
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart .table-body .tbody-row .cart-item-desc .item-id {
  font: normal 11px/20px Poppins, sans-serif;
  color: #656565;
}
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart .table-body .tbody-row .cart-item-desc .color,
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart .table-body .tbody-row .cart-item-desc .size {
  font: normal 12px/18px Poppins, sans-serif;
  color: #000000;
}
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart .table-body .tbody-row .cart-item-block > span {
  display: none;
}
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart .table-body .tbody-row .price-info .price {
  font: normal 14px 50px Poppins, sans-serif;
  color: #000000;
}
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart .table-body .tbody-row .qty-info .quantity {
  justify-content: unset;
}
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart .table-body .tbody-row .qty-info .quantity > * {
  height: 40px;
  width: 24px;
  border: 1px solid #E6E6E6;
  background-color: #EBEBEB;
  color: #707070;
}
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart .table-body .tbody-row .qty-info .quantity button {
  cursor: pointer;
  font-size: 20px;
  justify-content: center;
}
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart .table-body .tbody-row .qty-info .quantity input {
  width: 50px;
  background-color: #ffffff;
  text-align: center;
  margin: 0px 5px;
  font: normal 16px/25px Poppins, sans-serif;
}
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart .table-body .tbody-row .qty-info .quantity input:focus {
  outline: none;
  cursor: context-menu;
  caret-color: transparent;
}
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart .table-body .tbody-row .sub-total-info .sub-total-div {
  cursor: pointer;
  justify-content: center;
}
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart .table-body .tbody-row .sub-total-info .sub-total-div .total-cost {
  font: bold 16px/50px Poppins, sans-serif;
  color: #000000;
  margin-right: 12px;
}
.main-container .body-container .left-side .cart-sec .cart-container .table-container .cart .table-body .tbody-row .sub-total-info .sub-total-div span {
  color: #4C4C4C;
}
.main-container .body-container .left-side .cart-sec .cart-container .continue-shop-btn {
  display: inline-block;
  margin-top: 20px;
}
.main-container .body-container .left-side .cart-sec .cart-container .continue-shop-btn a {
  text-decoration: none;
  justify-content: flex-start;
  font: bold 14px/15px Rokkitt, serif;
  color: #009191;
  border: 1px solid #009191;
  padding: 11px 20px;
}
@media screen and (max-width: 1023px) {
  .main-container .body-container .left-side .other-services-desktop {
    display: none;
  }
}
.main-container .body-container .left-side .other-services-desktop .service-container div {
  text-align: center;
}
.main-container .body-container .left-side .other-services-desktop .service-container div img {
  height: 80px;
  width: 80px;
}
.main-container .body-container .order-summary {
  flex-basis: 31%;
}
@media screen and (max-width: 1023px) {
  .main-container .body-container .order-summary {
    flex-basis: 50%;
  }
}
.main-container .body-container .order-summary .summary-container {
  background-color: #EEEEEE;
  padding: 31px 64px 80px 40px;
}
.main-container .body-container .order-summary .summary-container .heading h2 {
  font: normal 28px/50px Rokkitt, serif;
  color: #4C4C4C;
}
.main-container .body-container .order-summary .summary-container .subtotoal span,
.main-container .body-container .order-summary .summary-container .estim-ship span {
  font: bold 14px/40px Poppins, sans-serif;
  color: #000000;
}
.main-container .body-container .order-summary .summary-container .subtotoal .amt,
.main-container .body-container .order-summary .summary-container .estim-ship .amt {
  font-weight: 500;
}
.main-container .body-container .order-summary .summary-container .estim-ship a {
  color: #000000;
}
.main-container .body-container .order-summary .summary-container .inputs-container div {
  position: relative;
}
.main-container .body-container .order-summary .summary-container .inputs-container div label {
  font: normal 14px/50px Poppins, sans-serif;
  color: #4C4C4C;
}
.main-container .body-container .order-summary .summary-container .inputs-container div input {
  height: 40px;
  width: 190px;
  border: 1px solid #C7C7C7;
  padding: 0px 15px;
}
.main-container .body-container .order-summary .summary-container .inputs-container div input:focus {
  outline: none;
}
.main-container .body-container .order-summary .summary-container .inputs-container div input::placeholder {
  font: normal 14px/21px Poppins, sans-serif;
}
.main-container .body-container .order-summary .summary-container .inputs-container div span {
  position: absolute;
  right: 5px;
  top: 16px;
  color: #707070;
}
.main-container .body-container .order-summary .summary-container .inputs-container .estime-btn {
  display: flex;
  justify-content: end;
  margin-top: 15px;
}
.main-container .body-container .order-summary .summary-container .inputs-container .estime-btn a {
  background-color: #4C4C4C;
  color: #ffffff;
  padding: 12px 12px;
  text-decoration: none;
}
.main-container .body-container .other-service-tab-mobile {
  display: none;
}
@media screen and (max-width: 1023px) {
  .main-container .body-container .other-service-tab-mobile {
    display: block;
    flex-basis: 50%;
  }
}
.main-container .body-container .other-service-tab-mobile .service-container div {
  text-align: center;
}
.main-container .body-container .other-service-tab-mobile .service-container div img {
  height: 80px;
  width: 80px;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
